<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>指令</title>
</head>
<body>
    <script src="node_modules/vue/dist/vue.min.js"></script>

    <!-- 
    <div id="app">
        {{message}}
        <p v-once="message">{{message}}</p>
        <input type="text" name="" id="" v-model.lazy="message" @change="inputChange">
    </div>
  

    <script>
        //构建实例 viewmodel
      
        var  vm = new Vue({  
            el:"#app",  //挂载元素
            data:{     //数据对象 model
                message :"hello word"

            }

        })
        //数据的双向
        var  vm = new Vue({  
            el:"#app",  //挂载元素
            data:{     //数据对象 model
                message :"hello word"
            },
            methods: {
             inputChange:function(){
                console.log(this.message)
             }
                
            }

        })
    </script>

     -->

         <!-- <div id="app">
            {{age}}
            <input type="number" name="" id="" v-model.number="age" @change="onChange">
        </div>
        <script>
            var  vm = new Vue({  
                el:"#app", 
                data:{     
                    age :100
                },
                methods: {
                    onChange:function(){
                        console.log(typeof this.age);  //number
                    }
                }
    
            })
        </script> -->

            <!-- 执行一次，保持原数据 -->

            <!-- <div id="app">
                {{message}}
                <p v-once="message">{{message}}</p>
                <input type="text" name="" id="" v-model="message">
            </div>
            <script>
            var  vm = new Vue({  
                    el:"#app", 
                    data:{     
                        message :"你大爷 "
                    }
           
               })	
           </script> -->

           <!-- 条件渲染 -->

            <!-- <div id="app">
                <p v-if="show">显示</p>
                <p v-if="!hide">显示</p>
                <p v-if="hide">不显示</p>
            </div>
            <script>
            var  vm = new Vue({  
                    el:"#app", 
                    data:{     
                        show:true,
                        hide:false,
                        message :"你大爷 "
                    }
           
               })	
           </script> -->
           <!-- 多层条件渲染 -->

           <!-- <div id="app">
                <p v-if="age < 18">好好学习，天天向上</p>
                <p v-else-if="age == 18">这个是很好的年纪</p>
                <p v-else>可以随意挥霍了</p>    
            </div>
            <script>
                var  vm = new Vue({  
                    el:"#app", 
                    data:{     
                        age:19
                    }
            
                })	
            </script> -->

            <!-- 显示隐藏 -->

            <!-- <div id="app">
                <p v-show="age < 18">孩子，好好学习，天天向上</p>
                <p v-show="age===18">真好，花一样的年纪</p>
                <p v-show="age > 18">爱咋的咋的把</p>

            </div>
            <script>
                var  vm = new Vue({  
                    el:"#app", 
                    data:{     
                        age:19
                    }
            
                })	
            </script> -->

            <!-- 数据渲染 -->
            <!--  
            <style>
                *{margin: 0;padding: 0;}
                table{width: 1000px;height: 600px;margin: 0 auto;}
                table td{width: 100px;}
                table td:last-child{width: auto;}
            </style>
            <div id="app">
               <table>
                    <tr v-for="(item, index) in books" :key="index">
                        <td>{{index+1}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.authour}}</td>
                        <td>{{item.time}}</td>
                        <td>{{item.kaipianci}}</td>
                    </tr>
               </table>

            </div>

            <script>
                var  vm = new Vue({  
                    el:"#app", 
                    data:{
                        books:[
                            {
                                title:"西游记",
                                authour:"吴承恩",
                                time:"明",
                                kaipianci:"混沌未分天地乱，茫茫渺渺无人见。自从盘古破鸿蒙，开辟从兹清浊辨。覆载群生仰至仁，发明万物皆成善。欲知造化会元功，须看西游释厄传。"
                            },
                            {
                                title:"三国演义",
                                authour:"罗贯中",
                                time:"明",
                                kaipianci:"滚滚长江东逝水，浪花淘尽英雄。是非成败转头空。青山依旧在，几度夕阳红。白发渔樵江渚上，惯看秋月春风。一壶浊酒喜相逢。古今多少事，都付笑谈中。"
                            },
                            {
                                title:"红楼梦",
                                authour:"曹雪芹",
                                time:"清",
                                kaipianci:"满纸荒唐言，一把辛酸泪！都云作者痴，谁解其中味？"
                            },
                            {
                                title:"水浒传",
                                authour:"施耐庵",
                                time:"明",
                                kaipianci:"试看书林隐处，几多俊逸儒流。虚名薄利不关愁，裁冰及剪雪，谈笑看吴钩。七雄绕绕乱春秋。见成名无数，图形无数，更有那逃名无数。刹时新月下长川，江湖桑田变古路。讶求鱼橼木，拟穷猿择木，恐伤，弓远之曲木，不如且覆掌中杯，再听取新声曲度。"
                            }
                        ]
                    }
            
                })	
            </script>

    -->

    <!-- 绑定 -->

    <!-- <div id="app">
        <img :src="imgsrc" :alt="alt" :id="id" :class="classname" :style="style"/>

   </div>
   <script>
          var  vm = new Vue({  
                el:"#app", 
                data:{
                    id:"img",
                    alt:"图片呀",
                    imgsrc:"https://cn.vuejs.org/images/logo.png",
                    classname:[".class1",".class2"],
                    style:{
                        "display":"block",
                        "zIndex":"1"
                    }

                    
                }
            })
   </script> -->

   <!-- 例子 -->
   <!-- 
    <style>
        ul,li{list-style: none;}
        ul{width: 400px;display: flex;justify-content: space-between;}
        li{float: left;padding: 5px 20px;border: 1px solid #ccc;cursor: pointer}
        li.cur{background: red;color: #fff;}
    </style>
    <div id="app">
            <ul>
                <li v-for="(item, index) in books" :key="index" :class="index==0?'cur':''">
                    {{item}}
                </li>
            </ul>

    </div>
    <script>
            var  vm = new Vue({  
                    el:"#app", 
                    data:{
                        books:["红楼梦","西游记","三国演义","水浒传"]
                    }
                })
    </script>
    -->

    <!-- 插入字符串 -->
    <!-- <div id="app" v-html="message"></div>
    <script>
        var  vm = new Vue({  
                el:"#app", 
                data:{
                    message:"<p>HTML</p>"
                }
            })
    </script> -->

    <!-- 事件监听 -->
    
    <div id="app">
        <button v-on:click="handle">基本绑定</button>
        <button @click="handle">缩写绑定</button>
        <button @click="function(){alert(0)}">内联语句</button>
        <button @[ev]="handle">动态事件绑定</button> 
        <button @click.stop="handle">停止冒泡</button>
        <button @click.prevent="handle">阻止默认行为</button>
        <button @click.prevent.stop="handle">串联</button>
        <button @click.once="handle">只能触发一次</button>
        <input @keyup.enter="handle" type="text" placeholder="输入完毕敲回车触发事件">
        <input @keyup.13="handle" type="text" placeholder="输入完毕敲回车触发事件" >
        <p>还有其他不一一测试饿了，大概也就这样子</p>
    </div>
    <script>
        var  vm = new Vue({  
            el:"#app", 
            data:{
              ev:"mouseover",
              message:"一些数据"  
            },
            methods: {
                handle:function(event){
                    console.log(event);
                    alert(this.message)
                }
            }
        })
    </script>
</body>
</html>